 <div class="nav navbar"> 
  <%= link_to 'Home', root_path%>
  <% if admin_signed_in? %>
    <li><%= link_to current_admin.email, edit_admin_registration_path %></li>
    <li><%= link_to 'Logout', destroy_admin_session_path, method: :delete %></li>
  <% else %>
    <li><%= link_to 'Login', new_admin_session_path , class: "btn-primary" %></li>
  <% end %>
</div>